<!DOCTYPE html>
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}
News
{% endblock title %}

{% block content %}
   {% if is_not_subscriber %}
       <p class="text-center"> <a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-lg">Подписаться</a> </p>
   {% endif %}

   <h1>Список новостей по категориям</h1>
   <h5>{{ time_now|date:'M d Y' }}</h5>
   <h5> {{ next_news|default_if_none:"Новости ДНЯ пока нет" }} </h5>
   <hr>
   {% if category_news_list %}
       <table>
           <tr>
               <td>Название</td>
               <td>Дата публикации</td>
               <td>Текст новости</td>
               <td>Категория</td>
               {# Условие получается составным. #}
               {% if perms.news_app.change_post or perms.news_app.delete_post %}
               <td>Действия</td>
               {% endif %}
           </tr>

           {% for p in category_news_list %}
           <tr>
               <td>{{ p.title|censor }}</td>
               <td>{{ p.date_in|date:'d M Y' }}</td>
               <td>{{ p.text|censor }}</td>
               <td>
                   {% for categ in p.post_category.all %}
                       <a href="{% url 'category_list' categ.id %}">{{ categ }}</a>
                   {% endfor %}
               </td>
               <td>
                    {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                    {% if perms.news_app.change_post %}
                    <a href="{% url 'news_update' pk=p.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.news_app.delete_post %}
                    <a href="{% url 'news_delete' p.id %}">Удалить</a>
                    {% endif %}
               </td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

   {# Добавляем пагинацию на страницу #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   {{ page_obj.number }}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}

